.menu {
    text-align: left;
}

.categorias-container {
    display: flex;
    justify-content: left;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}

.categoria-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    cursor: pointer;
    /* Hacer que el cursor cambie al estilo de "puntero" */
    transition: transform 0.2s;
    /* Transición para la animación de escala */
}

.categoria-item:hover .categoria-imagen {
    transform: scale(1.1);
    /* Agranda la imagen al pasar el mouse */
}

.categoria-imagen {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    /* Suavizar la transición de escala */
}

.categoria-nombre {
    margin-top: 8px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
}