@font-face {
    font-family: 'ManropeExtraBold';
    src: url('../../assets/fonts/manrope/Manrope-ExtraBold.otf') format('truetype');
}

@font-face {
    font-family: 'ManropeLight';
    src: url('../../assets/fonts/manrope/Manrope-Regular.otf') format('truetype');
}

.header{
    height: 34vw;
    margin: auto;
    background-color: #FEA0A0;
    font-family: 'ManropeExtraBold', sans-serif;
    background-size: contain;
    border-radius: 20px;
    position: fixed;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    background-color: aqua;
}
.header-contents h2{
    font-weight: 510;
    color: black;
    font-size: max(4.5vw,22px);
}

.header-contents p{
    font-family: ManropeLight;
    color: black;
    font-size: 1.3vw;
}

.header-contents button{
    border: none;
    color: black;
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw,13px);
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}